:root{
    --main-color: #0B61A4;
    --secondary-color: #FFBF00;
    --accent-color: #FF4900;
}       

* {
    padding: 0;
    margin: 0;
}

.text {
    
}

.logotip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: #FFBF00;
    height: 50px;
    background-color: #FFBF00;
    margin-left: 50px;
    text-align: center;
}

.topnav {
    width: 1488px;
    color: #0B61A4;
    height: 50px;
    background-color: #0B61A4;
}

.logo_text {
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-variation-settings:"slnt" -10;
    text-transform: uppercase;
    color: #FF4900;
    font-size: 48px;
    line-height: 100%;
}

.block {
    width: 61488px;
    height: 700px;
    background-color: #D9EDFD;
    color: #D9EDFD;
}

.blockdop {
    width: max-content;
    height: 10px;
    background-color: #D9EDFD ;
}

.search {
    width: 878px;
    height: 57px;
    background-color: #ffffff ;
    color: #000000;
    margin-left: 250px;
    border: 1px solid #FF4900;
    text-align: left;
    border-radius: 50pt 50pt ;
    margin-top: 10px ;
    font-size: 35pt;
    
}

header{
    border: 1px solid #FFBF00;
}

ul { 
    width: 100%;
    display: flex;
    flex-direction: row;
}
main{
    border: 1px solid green;
}

footer{
    border: 1px solid blue;
}