:root {
    --main-color: #0B61A4;
    --secondary-color: #FFBF00;
    --accent-color: #FF4900;
}

* {
    padding: 0;
    margin: 0;
}


.logotip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: #FFBF00;
    height: 50px;
    background-color: #FFBF00;
    margin-left: 50px;
    text-align: center;
}

.topnav {
    width: 1488px;
    color: #0B61A4;
    height: 50px;
    background-color: #0B61A4;
}

.logo_text {
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-variation-settings: "slnt" -10;
    text-transform: uppercase;
    color: #FF4900;
    font-size: 48px;
    line-height: 100%;
}

.block {
    width: 61488px;
    height: 700px;
    background-color: #D9EDFD;
    color: #D9EDFD;
}

.blockdop {
    width: max-content;
    height: 10px;
    background-color: #D9EDFD;
}



input {
    width: 878px;
    height: 57px;
    border: 1px solid #FF4900;
    border-radius: 50pt 50pt;
    margin-left: 270px;
    background-color: #ffffff;
}

.banner {
    width: 1029px;
    height: 471px;
    background-color: orange;
    color: #D9EDFD;
    align-items: center;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 20pt;
}

header {
    border: 1px solid #FFBF00;
}

.card {
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}

.card:hover {
    box-shadow: 4px 8px 16px #0B61A4;
}

.card__top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}

.card__image {
    display: block;
    width: 100%;
    height: 100%;
}

.card__image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.price__image>img {
    width: 45px;
    height: 45px;
}



.card__image:hover>img {
    transform: scale(1.1);
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.card__price {
    width: 50px;
    height: 50px;
    margin-left: 160px;
    background-color: transparent;
    border: 0px;
}

.card__prices {
    display: flex;
    margin-bottom: 10px;
    flex: 0 0 50%;
}

.card__price::after {
    margin-left: 4px;
    position: relative;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: black;
}

.procedure {
    float: left;
    text-align: center;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #0b62a491;
    padding: 10px;
    text-align: center;
    border: 1px solid #0b62a491;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
}

.card__add:hover {
    border: 1px solid #0B61A4;
    background-color: #0B61A4;
    color: white;
}


ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

main {
    border: 1px solid green;
}

footer {
    border: 1px solid blue;
}